<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>

<main>

  <section class="container">
      <div>
        <h1 align="center" class="fw-light">Cuidando da saúde do seu pet!</h1>
        <p align="center" class="lead text-muted">Localizada no bairro Nova Tucuruí, é um espaço desenvolvido para cuidar amplamente da sua 
    saúde de seu pet!</p>
    </div>
      <div>
        <p class="lead text-muted" align="justify"> Além das especialidades médicas, também contamos com uma grande equipe em diversas áreas o 
    que faz da Clínica Veterinária um espaço completo dentro do segmento de saúde animal. 
    Recursos e equipamentos de alta tecnologia, equipe especializada, conforto e agilidade no 
    atendimento são a garantia de que a saúde de seu animalzinho ou animalzão está em boas mãos.
    Contamos com uma equipe atuante em todas as especialidades da medicina veterinária, que 
    se destaca pela constante busca da excelência nos serviços prestados e pela preocupação com a 
    saúde global dos pacientes, oferecendo tratamentos preventivos e curativos com a mais alta 
    tecnologia. Sempre de maneira acessível aos atendidos.</p>
      </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
            <h3 class="card-text">Equipe Médica</h3>
            <p class="card-text" align="justify">Quando se trata de profissionais que cuidam de nossos pacientes, 
            possuímos padrões altos para oferecer sempre o melhor. Em nossa Clínica Veterinária, 
            possuímos profissionais altamente treinados 
            e dedicados com anos de experiência.</p>
            <p class="card-text">Médico Veterinário Responsável: Dr. Julio Granados Mota.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-text">Horários:</h3>
                <p class="card-text">Segunda a Sexta: 08h às 18h</p>
                <p class="card-text">Sábado: 08h às 14h</p>  
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-text">Contatos:</h3>
                <p class="card-text">(94) 3378-2127 | (94) 3201-9057</p>
                <p class="card-text">(94) 99237-8943 | (94) 98136-9827</p>
            </div>
          </div>
        </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>