<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>

<main>

  <section class="py-5 text-center container">
      <div>
        <h1 align="center" class="fw-light">Bem-vindo(a) à Clínica Veterinária!</h1>
        <p align="center" class="lead text-muted">Estamos prontos para atender o seu per naquilo que for de nosso alcance.</p>
        <p align="center" class="lead text-muted">Somos apaixonados pelos bichinhos e aqui serão tratados principalmente com amor.</p>
        <p align="center" class="lead text-muted">Agende sua consulta preventiva através do nosso site.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 ">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-text">Horários:</h3>
                <p class="card-text">Segunda a Sexta: 08h às 18h</p>
                <p class="card-text">Sábado: 08h às 14h</p>  
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-text">Contatos:</h3>
                <p class="card-text">(94) 3378-2127 | (94) 3201-9057</p>
                <p class="card-text">(94) 99237-8943 | (94) 98136-9827</p>
            </div>
          </div>
        </div>

</main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>