<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h2 align="justify"style="text-align:center">
                Nossa Clínica está habilitada a oferecer ampla variedade de serviços destinados a 
                caninos e felinos domésticos.
            </h2>
                <ul class="timeline">
                    <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>CLÍNICA GERAL</h4>
                        </div>
                        <div class="timeline-body">
                        <p align="justify" class="text-muted">
                            Corpo clínico pronto para o atendimento da necessidade do seu amigo com profissionais 
                experientes e dedicados, prontos para oferecer o que for necessário ao seu pet, atendimento 
                personalizado e ambiente agradável para todos.</p>
                <p align="justify" class="text-muted">Nossa equipe de Médicos Veterinários e nossa completa infra estrutura permitem o atendimento 
                rápido em casos de urgência e emergência, com equipe amplamente treinada para este tipo de 
                situação
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>INTERNAÇÃO</h4>
                        </div>
                        <div class="timeline-body">
                        <p align="justify" class="text-muted">
                        Contamos com uma internação moderna, leitos confortáveis, adequados para as mais diversas 
                        necessidades, profissional intensivista, enfermeiros e auxiliares dedicados, tratando com o 
                        carinho que seu amigo merece nessa hora tão delicada, oferecendo visitas monitoradas aos tutores 
                        e boletim médico diário via telefone.
                        </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                        <h4>VACINAS</h4>
                        </div>
                        <div class="timeline-body">
                            <p align="justify"  class="text-muted">
                        Visando garantir a saúde de seu amigo, dispomos de um ambiente exclusivo para vacinação, 
                        minimizando a exposição a diversas doenças presentes na rotina clínica, além de contar as 
                        melhores vacinas disponíveis, oferecendo protocolo individualizado pensando nas necessidades 
                        e desafios do seu amigo.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    </li>
                    <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>BANHO E TOSA</h4>
                        </div>
                        <div class="timeline-body">
                            <p align="justify"  class="text-muted">
                                Contamos com uma área de banho e tosa, com produtos de primeira linha para dar o melhor tratamento 
                    de estética e beleza para o seu animal. Com profissionais certificados e com experiencia para 
                    realizar um serviço de qualidade e deixar o seu animal da forma que mais lhe agrada.
                            </p>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
</body>
</html>